/* src/pages/SobreNos/SobreNos.css */

.sobre-nos-page {
    padding: 60px 0;
}

/* Reutilizando o estilo da página ParaEmpresas, mas invertendo a ordem */
.sobre-nos-page .intro-section {
    flex-direction: row-reverse; 
}

/* Seção de Valores */
.values-section h2 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--texto-titulo);
    margin-top: 100px;
    margin-bottom: 50px;
}

/* Responsividade */
@media (max-width: 900px) {
    .sobre-nos-page .intro-section {
        flex-direction: column-reverse;
    }
}